.tag {
    padding: 0.2rem 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    font-weight: var(--weight-extra-bold);
    white-space: nowrap;
    width: min-content;
    height: min-content;
}

.square {
    border-radius: 0.25rem;
}

.round {
    border-radius: 1rem;
}


/** Primary */
.primary {
    background-color: var(--primary-100);
    color: var(--primary-500);
    border: 0.0625rem solid var(--primary-500);
}

/** Success */
.success {
    background-color: var(--success-100);
    color: var(--success-600);
    border: 0.0625rem solid var(--success-500);
}

/** Warning */
.warning {
    background-color: var(--warning-100);
    color: var(--warning-600);
    border: 0.0625rem solid var(--warning-500);
}

/** Danger */
.danger {
    background-color: var(--danger-100);
    color: var(--danger-500);
    border: 0.0625rem solid var(--danger-500);
}

/** Icon */
.tag svg {
    height: 1rem;
    width: 1rem;
}

.iconOnly {
    padding: 0.375rem;
}