:root {
    /* Primary colors */
    --primary-900: #020213;
    --primary-800: #030F25;
    --primary-700: #041A40;
    --primary-600: #09265D;
    --primary-500: #0C3683;
    --primary-400: #0E3D95;
    --primary-300: #155CE0;
    --primary-200: #578CEF;
    --primary-100: #8FB3F5;
    --primary-50: #C7D9FA;

    /* Black colors */
    --black-900: #000;
    --black-800: #040303;
    --black-700: #1F1E1E;
    --black-600: #2B2B2B;
    --black-500: #444343;
    --black-400: #6A6A6A;
    --black-300: #9C9B9B;
    --black-200: #CDCDCD;
    --black-100: #E6E6E6;

    /* Other colors */
    --white: #fff;
    --black: #000;
    --background: #f0ebe0;

    /* Font weights */
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 600;
    --weight-extra-bold: 800;
    --weight-black: 900;

    /* Transition */
    --color-transition-specs: 0.2s ease-in-out;

    /* Z-index */
    --z-index-below-content: -1;
    --z-index-content: 0;
    --z-index-above-content: 1;
    --z-index-header: 2;
    --z-index-banner: 3;
    --z-index-backdrop-content: 4;

    /* Shadows */
}
